In [1]:
import pandas as pd
import os

os.chdir('/home/ubuntu/Deborah/Final-Project-Group4/')

In [2]:
df = pd.read_csv("dataset/train.csv")
df

,ImageId,EncodedPixels,Height,Width,ClassId
0,00000663ed1ff0c4e0132b9b9ac53f6e.jpg,6068157 7 6073371 20 6078584 34 6083797 48 608...,5214,3676,6
1,00000663ed1ff0c4e0132b9b9ac53f6e.jpg,6323163 11 6328356 32 6333549 53 6338742 75 63...,5214,3676,0
2,00000663ed1ff0c4e0132b9b9ac53f6e.jpg,8521389 10 8526585 30 8531789 42 8537002 46 85...,5214,3676,28
3,00000663ed1ff0c4e0132b9b9ac53f6e.jpg,12903854 2 12909064 7 12914275 10 12919485 15 ...,5214,3676,31
4,00000663ed1ff0c4e0132b9b9ac53f6e.jpg,10837337 5 10842542 14 10847746 24 10852951 33...,5214,3676,32
...,...,...,...,...,...
331208,fffe20b555b98c3c1f26c8dfff275cbc.jpg,2712731 8 2715725 23 2718719 39 2721713 55 272...,3000,2001,28
331209,ffffbf7014a9e408bfbb81a75bc70638.jpg,71179 1 71678 3 72178 4 72678 4 73178 5 73679 ...,500,375,33
331210,ffffbf7014a9e408bfbb81a75bc70638.jpg,116648 5 117148 16 117648 22 118148 26 118647 ...,500,375,31
331211,ffffbf7014a9e408bfbb81a75bc70638.jpg,67711 1 68210 1 68709 2 69204 2 69208 3 69705 ...,500,375,31
331212,ffffbf7014a9e408bfbb81a75bc70638.jpg,63365 36 63852 77 64343 85 64838 89 65332 94 6...,500,375,10

In [3]:
df = df.drop(columns=["EncodedPixels"])

In [4]:
 #Create a new column with the labels associated with the image
final_df = df.assign(Category=df["ClassId"].apply(lambda x: x.split("_")[0])) \
    .groupby("ImageId")["Category"] \
    .agg(lambda x: ",".join(map(str, sorted(x)))) \
    .reset_index()
    
final_df.head()
df[df["ClassId"].str.contains("_")]

,ImageId,Height,Width,ClassId
42,000aac3870ea7c59ca0333ffa5327323.jpg,4000,6000,10_3_20_34_56_69_91
44,000aac3870ea7c59ca0333ffa5327323.jpg,4000,6000,3_1_10_20_41_60_61_91
48,000b3a87508b0fa185fbd53ecbe2e4c6.jpg,1280,852,10_5_19_33_59_61_66_88
92,000e973c99dc090afd7898c93daf0dbc.jpg,4928,3264,4_0_20_41_60_72_88
97,000e973c99dc090afd7898c93daf0dbc.jpg,4928,3264,6_8_20_39_60_70
...,...,...,...,...
331136,fff36676cdac2dd8d057783f0e9f24cc.jpg,2256,1500,8_3_20_33_60_61
331137,fff36676cdac2dd8d057783f0e9f24cc.jpg,2256,1500,3_6_11_19_40_60_61_88
331163,fff65379ba62e3f6498a20e9cc2a99fe.jpg,4032,3024,1_0_20_41_49_61
331165,fff65379ba62e3f6498a20e9cc2a99fe.jpg,4032,3024,6_8_15_20_40_60_61_87
331166,fff65379ba62e3f6498a20e9cc2a99fe.jpg,4032,3024,9_3_10_20_41_60_61_91

In [5]:
# Attributes and label_descriptions, contains class id, class name, supercategory and level
import json
with open('dataset/label_descriptions.json') as f:  
    label_descriptions = json.load(f)

In [6]:
categories = label_descriptions['categories']
print(categories)

[{'id': 0, 'name': 'shirt, blouse', 'supercategory': 'upperbody', 'level': 2}, {'id': 1, 'name': 'top, t-shirt, sweatshirt', 'supercategory': 'upperbody', 'level': 2}, {'id': 2, 'name': 'sweater', 'supercategory': 'upperbody', 'level': 2}, {'id': 3, 'name': 'cardigan', 'supercategory': 'upperbody', 'level': 2}, {'id': 4, 'name': 'jacket', 'supercategory': 'upperbody', 'level': 2}, {'id': 5, 'name': 'vest', 'supercategory': 'upperbody', 'level': 2}, {'id': 6, 'name': 'pants', 'supercategory': 'lowerbody', 'level': 2}, {'id': 7, 'name': 'shorts', 'supercategory': 'lowerbody', 'level': 2}, {'id': 8, 'name': 'skirt', 'supercategory': 'lowerbody', 'level': 2}, {'id': 9, 'name': 'coat', 'supercategory': 'wholebody', 'level': 2}, {'id': 10, 'name': 'dress', 'supercategory': 'wholebody', 'level': 2}, {'id': 11, 'name': 'jumpsuit', 'supercategory': 'wholebody', 'level': 2}, {'id': 12, 'name': 'cape', 'supercategory': 'wholebody', 'level': 2}, {'id': 13, 'name': 'glasses', 'supercategory': 'head', 'level': 2}, {'id': 14, 'name': 'hat', 'supercategory': 'head', 'level': 2}, {'id': 15, 'name': 'headband, head covering, hair accessory', 'supercategory': 'head', 'level': 2}, {'id': 16, 'name': 'tie', 'supercategory': 'neck', 'level': 2}, {'id': 17, 'name': 'glove', 'supercategory': 'arms and hands', 'level': 2}, {'id': 18, 'name': 'watch', 'supercategory': 'arms and hands', 'level': 2}, {'id': 19, 'name': 'belt', 'supercategory': 'waist', 'level': 2}, {'id': 20, 'name': 'leg warmer', 'supercategory': 'legs and feet', 'level': 2}, {'id': 21, 'name': 'tights, stockings', 'supercategory': 'legs and feet', 'level': 2}, {'id': 22, 'name': 'sock', 'supercategory': 'legs and feet', 'level': 2}, {'id': 23, 'name': 'shoe', 'supercategory': 'legs and feet', 'level': 2}, {'id': 24, 'name': 'bag, wallet', 'supercategory': 'others', 'level': 2}, {'id': 25, 'name': 'scarf', 'supercategory': 'others', 'level': 2}, {'id': 26, 'name': 'umbrella', 'supercategory': 'others', 'level': 2}, {'id': 27, 'name': 'hood', 'supercategory': 'garment parts', 'level': 2}, {'id': 28, 'name': 'collar', 'supercategory': 'garment parts', 'level': 2}, {'id': 29, 'name': 'lapel', 'supercategory': 'garment parts', 'level': 2}, {'id': 30, 'name': 'epaulette', 'supercategory': 'garment parts', 'level': 2}, {'id': 31, 'name': 'sleeve', 'supercategory': 'garment parts', 'level': 2}, {'id': 32, 'name': 'pocket', 'supercategory': 'garment parts', 'level': 2}, {'id': 33, 'name': 'neckline', 'supercategory': 'garment parts', 'level': 2}, {'id': 34, 'name': 'buckle', 'supercategory': 'closures', 'level': 2}, {'id': 35, 'name': 'zipper', 'supercategory': 'closures', 'level': 2}, {'id': 36, 'name': 'applique', 'supercategory': 'decorations', 'level': 2}, {'id': 37, 'name': 'bead', 'supercategory': 'decorations', 'level': 2}, {'id': 38, 'name': 'bow', 'supercategory': 'decorations', 'level': 2}, {'id': 39, 'name': 'flower', 'supercategory': 'decorations', 'level': 2}, {'id': 40, 'name': 'fringe', 'supercategory': 'decorations', 'level': 2}, {'id': 41, 'name': 'ribbon', 'supercategory': 'decorations', 'level': 2}, {'id': 42, 'name': 'rivet', 'supercategory': 'decorations', 'level': 2}, {'id': 43, 'name': 'ruffle', 'supercategory': 'decorations', 'level': 2}, {'id': 44, 'name': 'sequin', 'supercategory': 'decorations', 'level': 2}, {'id': 45, 'name': 'tassel', 'supercategory': 'decorations', 'level': 2}]

In [7]:
categories_df = pd.DataFrame(categories)
categories_df.head()

   id                      name supercategory  level
0   0             shirt, blouse     upperbody      2
1   1  top, t-shirt, sweatshirt     upperbody      2
2   2                   sweater     upperbody      2
3   3                  cardigan     upperbody      2
4   4                    jacket     upperbody      2

In [8]:
attributes = label_descriptions['attributes']
print(attributes)

[{'id': 0, 'name': 'above-the-hip (length)', 'supercategory': 'length', 'level': 1}, {'id': 1, 'name': 'hip (length)', 'supercategory': 'length', 'level': 1}, {'id': 2, 'name': 'micro (length)', 'supercategory': 'length', 'level': 1}, {'id': 3, 'name': 'mini (length)', 'supercategory': 'length', 'level': 1}, {'id': 4, 'name': 'above-the-knee (length)', 'supercategory': 'length', 'level': 1}, {'id': 5, 'name': 'knee (length)', 'supercategory': 'length', 'level': 1}, {'id': 6, 'name': 'below the knee (length)', 'supercategory': 'length', 'level': 1}, {'id': 7, 'name': 'midi', 'supercategory': 'length', 'level': 1}, {'id': 8, 'name': 'maxi (length)', 'supercategory': 'length', 'level': 1}, {'id': 9, 'name': 'floor (length)', 'supercategory': 'length', 'level': 1}, {'id': 10, 'name': 'single breasted', 'supercategory': 'opening type', 'level': 1}, {'id': 11, 'name': 'double breasted', 'supercategory': 'opening type', 'level': 1}, {'id': 12, 'name': 'lace up', 'supercategory': 'opening type', 'level': 1}, {'id': 13, 'name': 'wrapping', 'supercategory': 'opening type', 'level': 1}, {'id': 14, 'name': 'zip-up', 'supercategory': 'opening type', 'level': 1}, {'id': 15, 'name': 'fly (opening)', 'supercategory': 'opening type', 'level': 1}, {'id': 16, 'name': 'buckled (opening)', 'supercategory': 'opening type', 'level': 1}, {'id': 17, 'name': 'toggled (opening)', 'supercategory': 'opening type', 'level': 1}, {'id': 18, 'name': 'no opening', 'supercategory': 'opening type', 'level': 1}, {'id': 19, 'name': 'asymmetrical', 'supercategory': 'silhouette', 'level': 1}, {'id': 20, 'name': 'symmetrical', 'supercategory': 'silhouette', 'level': 1}, {'id': 21, 'name': 'peplum', 'supercategory': 'silhouette', 'level': 1}, {'id': 22, 'name': 'circle', 'supercategory': 'silhouette', 'level': 1}, {'id': 23, 'name': 'flare', 'supercategory': 'silhouette', 'level': 1}, {'id': 24, 'name': 'fit and flare', 'supercategory': 'silhouette', 'level': 1}, {'id': 25, 'name': 'trumpet', 'supercategory': 'silhouette', 'level': 1}, {'id': 26, 'name': 'mermaid', 'supercategory': 'silhouette', 'level': 1}, {'id': 27, 'name': 'balloon', 'supercategory': 'silhouette', 'level': 1}, {'id': 28, 'name': 'bell', 'supercategory': 'silhouette', 'level': 1}, {'id': 29, 'name': 'bell bottom', 'supercategory': 'silhouette', 'level': 1}, {'id': 30, 'name': 'bootcut', 'supercategory': 'silhouette', 'level': 1}, {'id': 31, 'name': 'peg', 'supercategory': 'silhouette', 'level': 1}, {'id': 32, 'name': 'pencil', 'supercategory': 'silhouette', 'level': 1}, {'id': 33, 'name': 'straight', 'supercategory': 'silhouette', 'level': 1}, {'id': 34, 'name': 'a-line', 'supercategory': 'silhouette', 'level': 1}, {'id': 35, 'name': 'tent', 'supercategory': 'silhouette', 'level': 1}, {'id': 36, 'name': 'baggy', 'supercategory': 'silhouette', 'level': 1}, {'id': 37, 'name': 'wide leg', 'supercategory': 'silhouette', 'level': 1}, {'id': 38, 'name': 'high low', 'supercategory': 'silhouette', 'level': 1}, {'id': 39, 'name': 'curved (fit)', 'supercategory': 'silhouette', 'level': 1}, {'id': 40, 'name': 'tight (fit)', 'supercategory': 'silhouette', 'level': 1}, {'id': 41, 'name': 'regular (fit)', 'supercategory': 'silhouette', 'level': 1}, {'id': 42, 'name': 'loose (fit)', 'supercategory': 'silhouette', 'level': 1}, {'id': 43, 'name': 'oversized', 'supercategory': 'silhouette', 'level': 1}, {'id': 44, 'name': 'burnout', 'supercategory': 'textile finishing, manufacturing techniques', 'level': 1}, {'id': 45, 'name': 'distressed', 'supercategory': 'textile finishing, manufacturing techniques', 'level': 1}, {'id': 46, 'name': 'washed', 'supercategory': 'textile finishing, manufacturing techniques', 'level': 1}, {'id': 47, 'name': 'embossed', 'supercategory': 'textile finishing, manufacturing techniques', 'level': 1}, {'id': 48, 'name': 'frayed', 'supercategory': 'textile finishing, manufacturing techniques', 'level': 1}, {'id': 49, 'name': 'printed', 'supercategory': 'textile finishing, manufacturing techniques', 'level': 1}, {'id': 50, 'name': 'ruched', 'supercategory': 'textile finishing, manufacturing techniques', 'level': 1}, {'id': 51, 'name': 'quilted', 'supercategory': 'textile finishing, manufacturing techniques', 'level': 1}, {'id': 52, 'name': 'pleat', 'supercategory': 'textile finishing, manufacturing techniques', 'level': 1}, {'id': 53, 'name': 'gathering', 'supercategory': 'textile finishing, manufacturing techniques', 'level': 1}, {'id': 54, 'name': 'smocking', 'supercategory': 'textile finishing, manufacturing techniques', 'level': 1}, {'id': 55, 'name': 'tiered', 'supercategory': 'textile finishing, manufacturing techniques', 'level': 1}, {'id': 56, 'name': 'cutout', 'supercategory': 'textile finishing, manufacturing techniques', 'level': 1}, {'id': 57, 'name': 'slit', 'supercategory': 'textile finishing, manufacturing techniques', 'level': 1}, {'id': 58, 'name': 'perforated', 'supercategory': 'textile finishing, manufacturing techniques', 'level': 1}, {'id': 59, 'name': 'lining', 'supercategory': 'textile finishing, manufacturing techniques', 'level': 1}, {'id': 60, 'name': 'no special manufacturing technique', 'supercategory': 'textile finishing, manufacturing techniques', 'level': 1}, {'id': 61, 'name': 'plain (pattern)', 'supercategory': 'textile pattern', 'level': 1}, {'id': 62, 'name': 'abstract', 'supercategory': 'textile pattern', 'level': 1}, {'id': 63, 'name': 'cartoon', 'supercategory': 'textile pattern', 'level': 1}, {'id': 64, 'name': 'letters, numbers', 'supercategory': 'textile pattern', 'level': 1}, {'id': 65, 'name': 'camouflage', 'supercategory': 'textile pattern', 'level': 1}, {'id': 66, 'name': 'check', 'supercategory': 'textile pattern', 'level': 1}, {'id': 67, 'name': 'dot', 'supercategory': 'textile pattern', 'level': 1}, {'id': 68, 'name': 'fair isle', 'supercategory': 'textile pattern', 'level': 1}, {'id': 69, 'name': 'floral', 'supercategory': 'textile pattern', 'level': 1}, {'id': 70, 'name': 'geometric', 'supercategory': 'textile pattern', 'level': 1}, {'id': 71, 'name': 'paisley', 'supercategory': 'textile pattern', 'level': 1}, {'id': 72, 'name': 'stripe', 'supercategory': 'textile pattern', 'level': 1}, {'id': 73, 'name': 'houndstooth (pattern)', 'supercategory': 'textile pattern', 'level': 1}, {'id': 74, 'name': 'herringbone (pattern)', 'supercategory': 'textile pattern', 'level': 1}, {'id': 75, 'name': 'chevron', 'supercategory': 'textile pattern', 'level': 1}, {'id': 76, 'name': 'argyle', 'supercategory': 'textile pattern', 'level': 1}, {'id': 77, 'name': 'leopard', 'supercategory': 'animal', 'level': 2}, {'id': 78, 'name': 'snakeskin (pattern)', 'supercategory': 'animal', 'level': 2}, {'id': 79, 'name': 'cheetah', 'supercategory': 'animal', 'level': 2}, {'id': 80, 'name': 'peacock', 'supercategory': 'animal', 'level': 2}, {'id': 81, 'name': 'zebra', 'supercategory': 'animal', 'level': 2}, {'id': 82, 'name': 'giraffe', 'supercategory': 'animal', 'level': 2}, {'id': 83, 'name': 'toile de jouy', 'supercategory': 'textile pattern', 'level': 1}, {'id': 84, 'name': 'plant', 'supercategory': 'textile pattern', 'level': 1}, {'id': 85, 'name': 'empire waistline', 'supercategory': 'waistline', 'level': 1}, {'id': 86, 'name': 'dropped waistline', 'supercategory': 'waistline', 'level': 1}, {'id': 87, 'name': 'high waist', 'supercategory': 'waistline', 'level': 1}, {'id': 88, 'name': 'normal waist', 'supercategory': 'waistline', 'level': 1}, {'id': 89, 'name': 'low waist', 'supercategory': 'waistline', 'level': 1}, {'id': 90, 'name': 'basque (wasitline)', 'supercategory': 'waistline', 'level': 1}, {'id': 91, 'name': 'no waistline', 'supercategory': 'waistline', 'level': 1}]

In [9]:
#Add category column to the DataFrame
def get_category_name(category_id):
    for category in categories:
        if category['id'] == int(category_id):
            return category['name']
    return 'Unknown'

final_df['CategoryName'] = final_df['Category'].apply(lambda x: '|'.join(get_category_name(id) for id in x.split(',')))
final_df.head()

,ImageId,Category,CategoryName
0,00000663ed1ff0c4e0132b9b9ac53f6e.jpg,"0,28,29,31,31,32,32,4,6","shirt, blouse|collar|lapel|sleeve|sleeve|pocke..."
1,0000fe7c9191fba733c8a69cfaf962b7.jpg,"1,33","top, t-shirt, sweatshirt|neckline"
2,0002ec21ddb8477e98b2cbb87ea2e269.jpg,"10,23,23,33",dress|shoe|shoe|neckline
3,0002f5a0ebc162ecfb73e2c91e3b8f62.jpg,"10,15,33","dress|headband, head covering, hair accessory|..."
4,0004467156e47b0eb6de4aa6479cbd15.jpg,"10,15,31,31,33","dress|headband, head covering, hair accessory|..."

In [10]:
#Make 80% train set and 20% test set, adjust as needed to get the best results\n",
def split_dataset(index):
    if index <= 36100:
        return 'train'
    else:
        return 'test'

In [11]:
#Add split column to the dataFrame
final_df["Split"] = final_df.index.to_series().apply(split_dataset)
final_df["Split"]

0        train
1        train
2        train
3        train
4        train
         ...
45190     test
45191     test
45192     test
45193     test
45194     test
Name: Split, Length: 45195, dtype: object

In [12]:
#Load final dataset for modelling
final_df.to_excel("dataset/final_dataset.xlsx", index=False)